@import url('https://fonts.googleapis.com/css?family=Work+Sans');

small a,
small a:hover {
    color: #fff!important;
}

body,
html {
    background-color: #2b323a;
}

* {
    font-family: 'Work Sans', sans-serif;
  }

.fa {
    font-size: inherit;
    -webkit-font-smoothing: antialiased;
}

br {
    height: 0;
    display: none;
    margin: 0;
    padding: 0;
}

table#container {
    width: 100%!important;
    margin: 0;
}

td#content a {
    color: #2180de;
}

td#content a:hover {
    background: 0 0;
    color: #2ab7eb;
}

small a:hover {
    background-color: #76838f!important;
}

td#navi a.indent1:before {
    width: 20px;
}

td#navi a.active.indent1:before {
    width: 20px;
    color: #3498db;
}

td#navi a.indent1[href*=tools]:before,
td#navi a.indent1[href*=basic]:before {
    font: normal normal normal 14px/1 FontAwesome;
    padding-right: 10px;
    display: inline-block;
    text-rendering: auto;
}

td#navi a.indent1[href*=qos]:before,
td#navi a.indent1[href*=restrict]:before {
    font: normal normal normal 14px/1 FontAwesome;
    display: inline-block;
    text-rendering: auto;
    padding-right: 10px;
}

td#navi a.indent1[href*=about] {
    color: #fff;
    position: absolute;
    display: inline-block;
    top: 12px;
    right: 350px;
    text-shadow: none;
    font-size: 13px;
}

td#navi a.active[href*=about] {
    color: #fff!important;
}

td#navi a.indent1[href*="javascript:reboot()"] {
    color: #fff;
    position: absolute;
    display: inline-block;
    top: 12px;
    right: 250px;
    text-shadow: none;
    font-size: 13px;
}

td#navi a.indent1[href*="javascript:shutdown()"] {
    color: #fff;
    position: absolute;
    display: inline-block;
    top: 12px;
    right: 140px;
    text-shadow: none;
    font-size: 13px;
}

td#navi a.indent1[href*="javascript:logout()"] {
    color: #fff;
    position: absolute;
    display: inline-block;
    top: 12px;
    right: 50px;
    text-shadow: none;
    font-size: 13px;
}

table#container td#header {
    background-color: #2180de;
    border-bottom: none;
    position: relative;
    height: 60px;
    box-shadow: rgba(0, 0, 0, .2) 0 0 8px;
    padding: 0;
}

table#container td#header div.title {
    font-family: Montserrat;
    font-size: 16px;
    height: 60px;
    display: block;
    width: 240px;
    position: absolute;
    top: 0;
    line-height: 60px;
    text-align: center;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABkAAAAZCAYAAADE6YVjAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyhpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuNi1jMTExIDc5LjE1ODMyNSwgMjAxNS8wOS8xMC0wMToxMDoyMCAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENDIDIwMTUgKE1hY2ludG9zaCkiIHhtcE1NOkluc3RhbmNlSUQ9InhtcC5paWQ6QkMxODRFQUVDRDNBMTFFNjk3NDFDRkE2N0RCRjNCMDkiIHhtcE1NOkRvY3VtZW50SUQ9InhtcC5kaWQ6QkMxODRFQUZDRDNBMTFFNjk3NDFDRkE2N0RCRjNCMDkiPiA8eG1wTU06RGVyaXZlZEZyb20gc3RSZWY6aW5zdGFuY2VJRD0ieG1wLmlpZDpCQzE4NEVBQ0NEM0ExMUU2OTc0MUNGQTY3REJGM0IwOSIgc3RSZWY6ZG9jdW1lbnRJRD0ieG1wLmRpZDpCQzE4NEVBRENEM0ExMUU2OTc0MUNGQTY3REJGM0IwOSIvPiA8L3JkZjpEZXNjcmlwdGlvbj4gPC9yZGY6UkRGPiA8L3g6eG1wbWV0YT4gPD94cGFja2V0IGVuZD0iciI/PnoUfOQAAAImSURBVHjatNZPSFRBHMDxUQtJcgVTSykCCRSKFTpoEkaldhEqyFvkwfCiEIQYQiCeAy+RiNghECIiigI9CCmRJP07eFMkNHWJUqOsXWsNXt8f/jamx74YzfeDD/uYnZnfzLz3Zp7xPM9sQR6eoMKlfqYJjgMoD/hvAMuYNA6RIZkCIgfPsYYYJtCL03iEIv0vGwmrTcI1SRRxHMJd5Gv5YxRIOy1vRS4+I4mWtLPzrV8VhpDEa+zHbjTiPuLeRqR+JVbwER3Yhds4b/drJ7iEhPd3SOXDmMRPJXXeaaJ1PMUR5GPCatuLTDvJCfyyKkintTiIRau8Dwt4jzZrRnM4iQbc0cFI3Egl2YlXVkfXkIXj2pnEGnqwD1+17BSOYkQHKMmjKMIPrSPlUUlS51siabRX70WF3qdinXE2YlqvTZcjF4XYgwge+Pq7Ke/JWd+zUI83aNcnJ6ll9/RxHdZ633EMb9GFbrzABV9/lUZH7hqXdbQvUYNzDm1mJcn0JpLErKUT/Q5tlnYwnTzjHiUYQ6e+rBcd2njyxn/iotCEF/Ny41dMuLEsSaZDTjIrSUZDTvJM7kkxF1OIhJBAtv1ymckH3AppFoNYSD3vEd1ZtzO+6FHx5/hdRRO+beMsrmAx3aFVpyP437gadGilVOt5spWQU7LZ32fQZ4xs89f1jHCJuB67pen6+9fXitGPBjkKzqBMtx/Z7td1p5jDOB5iJqiT3wIMAOGsd+Td/AWpAAAAAElFTkSuQmCC) 53px 16px no-repeat #2180de;
    padding-left: 15px;
}

table#container td#header div.version {
    background-color: #2180de;
    height: 60px;
    position: absolute;
    top: 0;
    left: 240px;
    line-height: 60px;
    padding-left: 20px;
    color: #fff;
    font-family: Montserrat;
    font-weight: 400;
    font-size: 13px;
}

td#navi {
    font-size: 13px;
    width: 240px!important;
    max-width: 240px;
    background-color: #2b323a;
    padding: 10px 0 0;
    border: 0;
}

td#navi a {
    color: #959ba0;
    display: block;
    padding: 0;
}

td#navi a:hover {
    background-color: #1a69b7!important;
    color: #fff;
    transition: background-color 0.5s, color 0.5s;
}

td#navi a.indent1 {
    margin-left: 0;
    height: 30px;
    line-height: 35px;
    font-weight: 400;
    font-size: 14px;
    padding: 0 0 3px 25px;
}

td#navi a.indent1.active {
    color: #fff;
    font-weight: 700;
    background-color: #0000;
}

td#navi a.indent2 {
    margin-left: 0;
    height: 30px;
    line-height: 30px;
    padding: 0 0 0 55px;
}

td#navi a.indent2.active {
    background-color: #2180de;
    color: #fff;
}

td#content {
    width: auto;
    /* background-color: #ddd; */
    color:#000;
}

div.section,
div.section-title {
    color: #444;
    padding-left: 20px;
    border: 1px solid #cfd8dc;
}

div.section-title {
    padding-top: 14px;
    padding-bottom: 12px;
    border-bottom: none;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: #2180de;
    font-weight:bold;
    font-size: 15px;
    margin: 20px 40px 0;
}

div.section {
    padding-right: 20px;
    padding-top: 10px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    margin: 0 40px 10px;

}

table.tomato-grid {
    border-spacing: 0;
    margin: 0;
    border:0px;    
}

table.tomato-grid tr td,
table.tomato-grid tr.header td {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
}

table.tomato-grid tr.even,
table.tomato-grid tr.odd {
    cursor: default;
}

table.tomato-grid tr.header td {
    font-size: 13px;
    color: #000;
}

table.tomato-grid tr td,
table.tomato-grid tr.odd {
    /* background-color: #fbfbfb!important; */
}

table.tomato-grid tr td {
    font-size: 12px;
    color: #222;
}

table.tomato-grid tr td small {
    display: block;
}

table.tomato-grid tr td small a {
    display: inline-block;
    background-color: #ababab;
    font-size: 11px;
    border-radius: 3px;
    padding: 3px 3px;
}

table.tomato-grid tr td small a:hover {
    background-color: #e6e6e6;
}

table.tomato-grid .controls,
table.tomato-grid .editor,
table.tomato-grid tr.even:hover {
    background-color: #fff!important;
}

table.tomato-grid .editor td {
    border-bottom: none;
}

input[type=button] {
    background-color: #2180de;
    border: none;
    color: #fff;
    font-size: 12px;
    padding: 10px;
    border-radius: 5px;
    margin-right: 5px;
}

input[type=button]:hover {
    background-color: #599fe4;
    cursor: pointer;
    transition:background-color .5s;
}


td#footer {
    border: 0px;
    background-color: #ddd;
    text-align: right;
    padding: 0;
}

td#footer:before {
    display: block;
    background-color: #2b323a;
    width: 240px;
    min-height: 50px;
    content: "";
    float: left;
}

td#footer div {
    text-align: right!important;
    margin-top: 8px;
    margin-right: 50px;
}

span#footer-msg {
    background-color:#0000;
    color:#000;
    font-size: 12px;
    text-align: center;
    margin: auto;
    display: inline-block;
    float: none;
    width: 100px;
    padding: 10px 15px;
}

div#rstats {
    background-color: #fbfbfb;
    color: #222;
    border-radius: 0px;
    margin: 20px 40px 0;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, .2) 0px 3px 3px;
}

div#tab-area {
    margin-bottom: 10px;
}

div#tabs-bottom {
    border: none;
}

ul#tabs li a {
    background:#225c95;
    color:#fff;
    border-radius: 0px;
    padding: 8px;
}

ul#tabs li a.active {
    background-color: #2180de;
    color: #fff!important;
}

ul#tabs li a:hover {
    background-color: #2180de;
    color:#fff;
    font-weight: 400;
    transition: background-color 0.5s;
}

td#navi a.indent1[href*=about]:hover,
td#navi a.indent1[href*="javascript:reboot()"]:hover,
td#navi a.indent1[href*="javascript:shutdown()"]:hover,
td#navi a.indent1[href*="javascript:logout()"]:hover {
    background-color:#0000!important;
    color: #fff;
}

div#ident,
table#container td#header div.title small,
span#dtime {
    display: none;
}

